# Environment
PORT=3004
NODE_ENV=development

# Database
DATABASE_URL="file:./fare_payment.db"

# Fare Configuration (LKR)
BASE_FARE=150
RATE_PER_KM=80
BOOKING_FEE=30
MINIMUM_FARE=250

# Authentication
JWT_SECRET=ridelink_shared_secret_key_2026
INTERNAL_SERVICE_KEY=ridelink_internal_microservice_secret_key_2026

# Inter-service Communication
RIDE_SERVICE_URL=http://localhost:3003
DRIVER_SERVICE_URL=http://localhost:3002
ACCOUNT_SERVICE_URL=http://localhost:3001
